<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="applicationContextFactory"
		class="com.digitalchina.spring.context.ApplicationContextFactory"
		lazy-init="false" />

	<bean
		class="com.digitalchina.spring.config.NestedPropertyPlaceholderConfigurer">
		<property name="order" value="-2147483648" />
		<property name="preLocations" value="classpath*:config.properties" />
		<property name="locationPaths"
			value="classpath*:config-${adp.applicationServer}.properties, classpath*:config-${adp.dbType}.properties, classpath*:config-oss.properties,classpath*:config-authentication.properties,classpath*:config-fpcy.properties,classpath*:config-ocr.properties" />
	</bean>

</beans>