<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>adp</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>adp</param-value>
	</context-param>

	<context-param>
		<param-name>log4jExposeWebAppRoot</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:config-log4j.xml</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
        /WEB-INF/config*.xml
        /WEB-INF/spring/**/*.xml
        classpath*:/META-INF/spring/**/*.xml
       </param-value>
	</context-param>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>com.digitalchina.spring.context.XmlWebApplicationContext</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.digitalchina.spring.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.digitalchina.spring.web.module.DelegatingListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>delegatingFilter</filter-name>
		<filter-class>com.digitalchina.spring.web.module.DelegatingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>delegatingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<!-- druid检测 -->
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>druidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>/public/*,*.js,*.css,/druid*,*.jsp,*.swf</param-value>
		</init-param>
		<init-param>
			<param-name>principalSessionName</param-name>
			<param-value>sessionInfo</param-value>
		</init-param>
		<init-param>
			<param-name>profileEnable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>druidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<mime-mapping>
		<extension>Z</extension>
		<mime-type>application/x-compress</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ai</extension>
		<mime-type>application/postscript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>avi</extension>
		<mime-type>video/x-msvideo</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>body</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>cer</extension>
		<mime-type>application/x-x509-ca-cert</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>chm</extension>
		<mime-type>application/mshelp</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>class</extension>
		<mime-type>application/java</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>csv</extension>
		<mime-type>text/comma-separated-values</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eps</extension>
		<mime-type>application/postscript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>exe</extension>
		<mime-type>application/octet-stream</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gtar</extension>
		<mime-type>application/x-gtar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gz</extension>
		<mime-type>application/x-gzip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>htm</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>java</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jnlp</extension>
		<mime-type>application/x-java-jnlp-file</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpe</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpeg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mht</extension>
		<mime-type>text/x-mht</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mov</extension>
		<mime-type>video/quicktime</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>movie</extension>
		<mime-type>video/x-sgi-movie</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpe</extension>
		<mime-type>video/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpeg</extension>
		<mime-type>video/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpg</extension>
		<mime-type>video/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpv2</extension>
		<mime-type>video/mpeg2</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>qt</extension>
		<mime-type>video/quicktime</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rtf</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>sh</extension>
		<mime-type>application/x-sh</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>snd</extension>
		<mime-type>audio/basic</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tar</extension>
		<mime-type>application/x-tar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tif</extension>
		<mime-type>image/tiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tiff</extension>
		<mime-type>image/tiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tsv</extension>
		<mime-type>text/tab-separated-values</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wav</extension>
		<mime-type>audio/x-wav</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>z</extension>
		<mime-type>application/x-compress</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.iface</welcome-file>
	</welcome-file-list>

</web-app>